@import '~purecss';

html {
  width: 100%;
  height: 100%;
}
body {
  width: 100%;
  height: 100%;
}
.calc {
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  @media screen and (max-device-width: 1023px) {
    &--device {
      width: 100%;
      height: 100%;
    }
  }
  @media screen and (min-device-width: 1024px) {
    &--device {
      width: 480px;
      height: 768px;
    }
  }
  &__button {
    @extend .pure-button;
    &--normal {
      width: 100%;
      height: 100%;
      font-size: 2em;
    }
  }
  &__buttons {
    &-group {
      &--normal {
        height: 20%;
      }
    }
    &-unit {
      box-sizing: border-box;
      padding: 0.1em;
      &--normal {
        height: 100%;
      }
    }
  }
  &__buttons {
    &--normal {
      height: 100%;
      width: 100%;
    }
  }
  &__display {
    &-input {
      text-align: right;
      &--normal {
        height: 100%;
        width: 100%;
        font-size: 4em;
        padding: 0px;
        border-width: 0px;
      }
    }
    &-sub {
      font-size: 2em;
      text-align: right;
      margin: 0;
      &--normal {
        color: darkgray;
      }
      &--error {
        color: red;
      }
    }
    &--normal {
      width: 100%;
      height: auto;
    }
  }
}
